*{box-sizing: border-box;}
		body{
			padding:10px;
			margin:0px;
			font-family:Arial;
			background-color:#dfe6e9;
		}
		.container{
			background-color:white;
			width:99%;
			margin:auto;
			padding:5px;
		}
		ul{
			list-style-type:none;
			padding:0px;
			margin:10px 5px;
			background-color:#2d3436;
			overflow:hidden;
		}
		li{float:left;}
		li a{
			display: inline-block;
			text-decoration:none;
			color:white;
			padding:14px 16px;
		}
		li a:hover{
			background-color:#dfe6e9;
			color:#2d3436;
		}
		.fluid{
			display: flex;
			flex-wrap:wrap;
		}
		.menu{
			width:70%;
			padding:10px 5px 0px 0px;
		}
		.side{
			width:30%;
			padding:10px 0px;
		}
		.fakeimg{
			height:280px;
			width:100%;
			margin:auto;
			background-color:#636e72;
			color:black;
			padding:15px;
		}
		.footer{
			width:100%;
			padding:30px;
			background-color:#636e72;
			color:black;
			text-align:center;
			margin-top:10px;
		}